extends ../index.pug

block contents
    .container
        section.header
            h2.title 당신의 지식을 공유하세요.
            a.button.button-primary(href='/lectures') 강의 신청하기
            .row
                .four.columns.description
                    img.value-img(src='/images/teacher-pointing-blackboard.svg')
                    br
                    p 자신이 가지고 있는 재능을 활용해 선생님이 되어 보세요
                .four.columns.description
                    img.value-img(src='/images/handshake.svg')
                    br
                    p 당신의 성장을 DETS와 함께하세요
                .four.columns.description
                    img.value-img(src='/images/mortarboard.svg')
                    br
                    p 지식은 나눌수록 커진답니다

