extends ../index.pug

block contents
    .container
        h3 강의 개설 신청
        h6 개설하고 싶은 강의의 기초적인 정보를 작성한 후 Dets 스텝에게 구체적인 일정을 전달 해 주시기 바랍니다.
        form.form
            label(for='exampleEmailInput') 강의 이름
            input#exampleEmailInput.u-full-width(type='text', placeholder='')
            .row
                .ten.columns
                    label(for='exampleRecipientInput') 주제
                    input#exampleEmailInput.u-full-width(type='text', placeholder='')
                .two.columns
                    label(for='exampleRecipientInput') 최대 인원 수 (희망)
                    input#exampleEmailInput.u-full-width(type='number', placeholder='최대 30' min='3' max='30')
            label(for='exampleMessage') 간단 설명
            textarea#exampleMessage.u-full-width(placeholder='안녕하세요 ')
            input.button-primary(type='submit', value='전송')