extends ../index.pug

block contents
    .container
        h3 관리자 추가
        h6 관리자를 추가합니다
        form.form(method="post", action="/manager/admins/add")
            .row
                .six.columns
                    label 이름
                    input.u-full-width(name='name', type='text', placeholder='')
                .six.columns
                    label 학번 (선생님은 0000으로)
                    input.u-full-width(name='serial', type='text', placeholder='')

            input.button-primary(type='submit', value='추가')
