!!!
html
    head
        title DETS ADMIN

        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/skeleton.css')
        link(rel='stylesheet', href='/stylesheets/admin-skin.css')
    body
        .navbar
            .container
                ul.navbar-list
                    li.navbar-title
                        a.navbar-link(href='/') DET'S ONLINE ADMIN