doctype html
html(lang='en')
    head
        title= title
        include includes/head.pug
        
    body
        include includes/navbar.pug

        block contents

        script.
            function openNav() {
                document.getElementById("asidenav_back").style.width = "100vw";
                document.getElementById("asidenav").style.width = "250px";
                document.getElementById("asidenav_back").style.background="rgba(0, 0, 0, 0.3)"
            }

            function closeNav() {
                document.getElementById("asidenav_back").style.width = "0";
                document.getElementById("asidenav").style.width = "0px";
                document.getElementById("asidenav_back").style.background="rgba(0, 0, 0, 0.0)"
            }